body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
}

.pricing-table {
  margin-top: 50px;
}

.pricing-plan {
  margin: 20px 0;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.pricing-plan:hover {
  transform: scale(1.05);
}

.card-header {
  background-color: #007bff;
  color: white;
  padding: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-header h3 {
  margin: 0;
  font-size: 24px;
}

.card-header p {
  margin: 10px 0 0;
  font-size: 20px;
  color: burlywood;
}

.card-body {
  padding: 20px;
}

.list-group-item {
  border: none;
  padding: 10px 20px;
  font-size: 16px;
}

.card-footer {
  background-color: #f1f1f1;
  padding: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.btn-primary {
  background-color: #007bff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
}

.btn-primary:hover {
  background-color: #0056b3;
}
